.header-one-element-center {
    @include center-flex-xy;
    background-color: $color-quaternary;
    height: 70px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid $color-secondary;

    h2 {
        font-size: 26px;
        font-weight: 700;
        color: $color-secondary;
        text-transform: uppercase;
    }
}